<div class="form-header">
    <h2>Find a player!</h2>
</div>
<form method="post" action="/form" novalidate>
    <label for="email">First Name:</label>
    <input class="input" name="name" />
    <br>
    <label for="email">Last Name:</label>
    <input class="input" name="lastname" />
    
    <div class="form-actions">
        <button class="btn" type="submit">Find!</button>
    </div>
</form>
<br><br><br><br><br>
<h3> Possible player names:</h3>
<p> Sachin Tendulkar</p>
<p> Virat Kohli</p>
<p> Ben Stokes</p>
<p> Eoin Morgan</p>
<p> Rohit Sharma</p>
<p> JM Anderson</p>
<p> Stuart Broad</p>
<p> Steven Finn</p>
<p> Jasprit Bumrah</p>